* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    font-size: 19px;
  }

  .img{
    max-width: 100%;
    height: auto;
    background-size: cover;

  }
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-right: 30px;
  }  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-family:'arial black' ;
  }  
  #hero {
    text-align: center;
   width: 100%;   
  }
  #hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
    align-items: center;
    color: brown;
  }
  #hero p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  .header2{
    background-color:#162e44;
    padding: 5px;
    background-size: cover;
  }
  
  .text{
    font-family: 'Times New Roman', Times, serif;
  }
  .text2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: right;
  }
  #about {
    background-color: rgb(229, 247, 250);
    padding: 20px;
  }
  section#about h2 {
    text-align: center;
    color: #008572;
  }
  #about h2 {
    margin-bottom: 10px;
    
  }  
  #packages {
    background-color: rgb(229, 247, 250);
    
    padding-bottom: 20px;

  } 

  .tour-package img {
    width: 600px;
    height: auto;
  }
  .tour-package2 img {
    width: 810px;
    height: auto;
  } 
  .tour-package h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .tour-package p {
    margin-bottom: 10px;
  }
  #contact {
    background-color: rgb(229, 247, 250);
    padding: 20px;
  }
  #contact h3{
    text-align: center;
    padding-top: 50px;
    color: #008572;
  }
  #contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 20px;
    color: #008572;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    header {
      text-align: center;
    }
    header ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  .container {
    width: 100%; 
    margin-right: auto;
    margin-left: auto;
}
.product-big {
    position: relative;
    text-align: center;
}
.unit-left, .unit-right {
  flex: 0 0 auto;
  max-width: 100%;
}
.product-big .unit-body {
  display: flex;
  align-items: center;
}
.product-big .unit > * {
  margin-bottom: 30px;
  margin-left: 0;
}
.unit-body {
  flex: 0 1 auto;
}
.unit > * {
  margin-bottom: 30px;
  margin-left: 20px;
}
.back-link {
  text-decoration: none;
  color: #008572;
  font-size: 16px;
}
.back-link:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
}
.back-link:before {
  content: "\2190";
  font-size: 20px;
}
.img{
  max-width:100%;
   
}
.team-modern-status {
  color: #01b3a7;
  letter-spacing: .025em;
  line-height: 1.71429;
  font-weight: 500;
}
.team-modern-name {
  font-weight: 600;
}
#team{
  background-color: rgb(229, 247, 250);
}
#packages h2{
  text-align: center;
  padding-top: 20px;
  color: #008572;
}
.social-icons {
  text-align: center;
  padding-bottom: 10px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}
.social-icon:not(:last-child) {
  margin-right: 20px; /* Расстояние между иконками */
}

#form-output{
  text-align: center;
}
.social-icon {
  display: inline-block;
  margin: 5px;
}

.social-icon img {
  transition: all 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.2);
}

.social-icon:active img {
  filter: brightness(80%);
}